@{
    ViewData["Title"] = "Seleccionar paquete";
}

<h1>Seleccionar paquete</h1>
@if (ViewBag.Error != null) {
    <p>Error: @ViewBag.Error</p>
}
<section>
    <form action='@Url.Action("GuardarPaquete")'>
        <div>
            <h2>Destino</h2>
            <ol>
            @foreach (string destino in ViewBag.ListaDestinos)
            {
                <li>@destino</li>
            }
            </ol>
            <p>
                N°:
                <input type="number" name="Destino" min="1" max="@ViewBag.ListaDestinos.Count" placeholder="Ej: 1, 2, 3..." required>
            </p>
        </div>
        <div>
            <h2>Hoteles</h2>
            <ol>
            @for (int i = 0; i < ViewBag.ListaHoteles.Count; i++) {
                <li><img src="~/img/@ViewBag.ListaHoteles[i]" alt="Hotel @(i+1)"></li>
            }
            </ol>
            <p>
                N°:
                <input type="number" name="Hotel" min="1" max="@ViewBag.ListaHoteles.Count" placeholder="Ej: 1, 2, 3..." required>
            </p>
        </div>
        <div>
            <h2>Aéreos</h2>
            <ol>
            @for (int i = 0; i < ViewBag.ListaAereos.Count; i++) {
                <li><img src="~/img/@ViewBag.ListaAereos[i]" alt="Aéreo @(i+1)"></li>
            }
            </ol>
            <p>
                N°:
                <input type="number" name="Aereo" min="1" max="@ViewBag.ListaAereos.Count" placeholder="Ej: 1, 2, 3..." required>
            </p>
        </div>
        <div>
            <h2>Excursiones</h2>
            <ol>
            @for (int i = 0; i < ViewBag.ListaExcursiones.Count; i++) {
                <li><img src="~/img/@ViewBag.ListaExcursiones[i]" alt="Aéreo @(i+1)"></li>
            }
            </ol>
            <p>
                N°:
                <input type="number" name="Excursion" min="1" max="@ViewBag.ListaExcursiones.Count" placeholder="Ej: 1, 2, 3..." required>
            </p>
        </div>
        <input type="submit" value="Seleccionar paquete">
    </form>
</section>